* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    
      
}
a {
    text-decoration: none;
    color: #333;
    
}

body {
/*    background-image: url(../images/pexels-photo-193349.jpeg);*/
    
}

main {
    padding: 20px 5px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Spectral', serif;
    
}


.grad1 {
    background: #649173; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#649173, #DBD5A4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#649173, #DBD5A4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#649173, #DBD5A4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#649173, #DBD5A4); /* Standard syntax */
}

.color1 {
    color: #f5f5f5;
}

#header-nav {
    margin-bottom: 70px;
}
#personal-brand-container {
    float: left;
}

#personal-brand-container a {
    display: block;
    padding: 5px;
}

#personal-brand-container a:hover {
    color: black;
} 
span.brand-name {
    display: block;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 20px;
    
}

span.brand-text {
    font-size: 18px;
}
.icons-link {
    width:25px;
    height:25px;
    display: inline-block;
}

.icons-link:hover {
    transform: scale(1.2);
    border: 1px white dotted;
    border-radius: 12px;
    -webkit-backface-visibility: hidden;
}

img {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 5px;
}



#home-page-content {
    height: 450px;
    margin: auto;
    color: #333;
}

#home-page-content p {
    
    width: 50%;
    margin: 30px auto 10px auto;
    line-height: 2.0;
    font-size: 20px;
}
#logo-container {
    height: 166px;
    width: 147px;
    margin: auto;
    background: url('../images/Logomakr_9xeGaN.png');
}



#social-media-links {
    float: right;
}


.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#nav-bar-section nav {
    text-align: center;
}

#nav-bar-section ul {
    width: 70%;
    margin: auto;
}

.nav-li {
    width: 20%;
    padding: 5px;
    text-align: center;
}

.nav-link {
    
    display: inline-block;
}

.nav-link img {
    width:50px;
    height:50px;
}
.nav-link span {
    display: block;
}

.nav-link:hover {
    
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #f5f5f5;
}
